.input {
  position:relative;
  font-size: 1.5em;
  padding: 3px;
  display: inline-block;
  overflow: hidden;
  border-radius:99em;
  border: 5pt solid linear-gradient(#6bdb10ad, rgba(187, 8, 53, 0.5));
  width: 40%;
  height:3rem;
  box-decoration-break: none;


}

.name {
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(255, 80, 80), rgb(30, 43, 119));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}




